<div class="row">
    <div class="col-md-12">
        <h2>Movies API</h2>
        <input type="text" id="txtSearch" />
        <select id="ddlFilters">
            <option value="">-- Please select --</option>
            <option value="title">Title</option>
            <option value="year">Year of Release</option>
            <option value="genre">Genre</option>
        </select>
        <a class="btn btn-default" id="btnSearch" href="#">Search</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <textarea id="results" rows="20" cols="40"></textarea>
    </div>
</div>